
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #FF9800;
	background-color: #1B1B1B;
    font-family: 'Anton', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sectionheading {
    width: 100%;
    margin-left: 25px;
}

.nav {
    width: 100%;
    height: auto;
    background-color: #303F9F;
	background-image: url(https://images.unsplash.com/photo-1478940020726-e9e191651f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
	background-size:cover;
	background-position: right 0px top 500px;
    padding: 1%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
    font-family: 'Permanent Marker';
}

.heading {
    text-align: center;
}

.links {
    text-align: center;
}

.nav li {
    display: inline-block;
    color: white;
}

.nav a {
        color: white;
}

::-webkit-scrollbar {
   width: 0px;
}
  
::-webkit-scrollbar-track {
  background: #1B1B1B;
}
  
::-webkit-scrollbar-thumb {
  background: #1B1B1B;
}

.rowwrap {
    display: grid;
    grid-template-columns: repeat(3, 90%);
    height: 300px;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-left: 10px; 
}

.rowwrap:hover {
    color: red;
}

.section1 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.section2 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.section3 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.articlebox {
    margin: 5px;
    border-radius: 10px;
    background-color: white;
    color: black;
    transition: background-color 1s ease-out;
    font-family: 'Old Standard TT', serif;

}

.articlebox:hover {
    background-color: #F5DC8F;
    transform: rotate(1deg);
    transform: scale(1.05);
    border-radius: 15px;
}

.articlebox h3 {
    margin-left: 15px;
}

.articlebox p {
    margin: 0 5px;
}

#i-align
{
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;  
  width: 80%
}

#center{
text-align: left;
margin-left: 3%;
}

.footer {
    text-align: center;
}

.footer li {
    display: inline-block;
}

.backtotop {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #FF9800;
    color: rgb(61, 61, 61);
    position: fixed;
    text-align: center;
}

.backtotop h4 {
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 10px;
}
